@import '../../assets/sass/variables';

.header-container {
    height: 35px;
    width: 100%;
    background-color: $appPrimaryColor;
    padding: .2em .5em .2em .5em;

    .hamburger {
        height: 20px;
        color: white;
        font-size: 2.2em;
    }
}