<p-tabView>
    <p-tabPanel header="Bar Tools">
        <bm-bar-tools></bm-bar-tools>
    </p-tabPanel>
    <p-tabPanel header="Brandy">
       <bm-brandy></bm-brandy>
    </p-tabPanel>
    <p-tabPanel header="Gin">
        <bm-gin></bm-gin>
    </p-tabPanel>
    <p-tabPanel header="Rum">
        <bm-rum></bm-rum>
    </p-tabPanel>
    <p-tabPanel header="Tequila">
        <bm-tequila></bm-tequila>
     </p-tabPanel>
     <p-tabPanel header="Vodka">
         <bm-vodka></bm-vodka>
     </p-tabPanel>
     <p-tabPanel header="Whiskey">
         <bm-whiskey></bm-whiskey>
     </p-tabPanel>
     <p-tabPanel header="Scotch">
        <bm-scotch></bm-scotch>
    </p-tabPanel>
     <p-tabPanel header="Liqueurs/Cordials">
        <bm-liqueurs-cordials></bm-liqueurs-cordials>
    </p-tabPanel>
    <p-tabPanel header="Mixers">
        <bm-mixers></bm-mixers>
    </p-tabPanel>
</p-tabView>
