<div class="ui-g ui-g-nopad content-container">
    <div class="ui-lg-12 ui-g-nopad">
        <div class="ui-g-8 ui-md-8">
            <div class="details">
                <img class="logo" src="assets/icons/site-logo.png"/>
                <h2>Welcome to Bar Manager</h2>
                <p>This application is designed to help Home Bar 
                    enthusiasts manage their home bar and use 
                    ingredients to manage 'makeable' recipes.</p>
                <p>Bar Manager also includes a Liquor DB to help 
                    amatuer mixologists learn more about Liquors 
                    and how they are made, where they are from and 
                    other information to help you become more informed.</p>
                <h3>Usage</h3>
                <p>Use the pop-out menu in the top left corner to navigate
                    to a particular page and go from there.</p>
            </div>
        </div>
        <div class="ui-g-4 ui-md-4">
            <div class="whats-new">
                <h3>What's New</h3>
                <p>Future developments will appear here.</p>
            </div>
        </div>
    </div>
</div>
